<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="TaskStyles.css">
    <style>
    {%include "tasker/TaskStyles.css"%}
    {%include "tasker/TopMenuStyles.css"%}
    div.TaskList {
        width: 50%;
        margin: 0 auto;
    }

    </style>
</head>
<body>
    {%include "tasker/TopMenu.html"%}
    <div class="TaskList">
        <div class="Task" style="text-align:center">
            <h1><a href="/add_task">+</a></h1>
        </div>
        {%for task in tasks%}
            {%include "tasker/Task.html"%}
        {%endfor%}
    </div>
</body>
</html>