<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
</script>
    <style>
        form.TaskForm {
            background-color:khaki;
            padding:10px;
            border:3px solid red;
            border-radius:5px;
            position:relative;
            width:50%;
            margin: 10px auto;
        }
        {%include "tasker/TopMenuStyles.css"%}
        div.Field{
            margin: 5px;
        }
        #id_execute_time {
            line-height:inherit;
        }
        h3 {
            text-align: center;
            margin:auto;
        }
        {%include "tasker/TaskStyles.css"%}

        div.SubaskList {
            width: 50%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {%include "tasker/TopMenu.html"%}
    <form method="post" class="TaskForm">
        {% csrf_token %}
            <div class="Field">
                {%if overtask%} is subtask of 
                    <a href="/task/{{task.overtask.id}}">
                    {{task.overtask.name}}
                    </a> 
                    <br />
                {%endif%}
            </div>
            {%if task.repeat%} 
                Repeat  
                <a href="/repeat/{{task.id}}">
                    {{task.repeat}}
                </a> 
                <br />  
            {%endif%}
        {% for field in form %}
            <div class="Field">
                {{field.label}}:
                <div>{{field}}</div>
            </div>
        {%endfor%}
        <input type="submit" value="Save"/>
    </form>
    {%if task.subtasks%}
        <h3>Subtasks:</h3>
    {%endif%}
    <div class="SubaskList">
        {% for subtask in task.subtasks %}
            {%include "tasker/Task.html" with task=subtask%}
        {% endfor %}
        <div class="Task" style="text-align:center">
            <h1><a href="/add_subtask/{{task.id}}">+</a></h1>
        </div>
    </div>
</body>
</html>