<div class="Task">
    <h3><a href="/task/{{task.id}}">{{ task.name }}</a></h3>
    {%if task.creator%} by 
        <a href="/user/{{task.creator.id}}">
            {{task.creator.login}}
        </a> 
        <br />
    {%endif%} 
    <!--{%if task.overtask%} is subtask of 
        <a href="/task/{{task.overtask.id}}">
            {{task.overtask.name}}
        </a> 
        <br />
    {%endif%}-->
    <div>
        {%if task.execute_time%} {{task.execute_time}} {%endif%}
        {%if task.duration%}, during {{task.duration}} {%endif%}
    </div>
    {%if task.completed%} Completed {%endif%}
    {%if task.subtasks%} Have subtasks {%endif%}
            
</div>