﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        div.TopMenu {
            height: auto;
            background-color: khaki;
            text-align: center;
            margin:auto;
            padding:10px;
            }

            div.TopMenu h2 {
                margin:auto;
            }
    </style>
</head>
<body>
    <div class="TopMenu">
        <h2>
            <a href="/">
                Tasker
            </a>
        </h2>
    </div>
    <h3>{{user.login}}</h3>

</body>
</html>